<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Index of">
    <meta name="author" content="digitalsigil">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/res/css/normalize.css">
    <link rel="stylesheet" href="/res/css/skeleton.css">
    <link rel="stylesheet" href="/res/css/main.css">
    <!-- <link rel="stylesheet" href="/res/fonts/charter/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="row">
	<h1 id="title-h1">!! BLINKING KLAXON !!</h1>
      </header>
      <section class="row">
	<div class="twelve columns">
	  {{content}}
	</div>
      </section>

      <footer class="row">
	&copy; RC Buchanan 2016
      </footer>
    </div>
  </body>
</html>
